@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}

:root{
    --fundo:#f5f5f5;
    --cor-1:#DA1F26;
    --cor-2:#FBB131;
    --cor-3:#373435;
    --cor-4:#ffffff;
}

@font-face {
    font-family: 'Rounded';
    src: url('font/Rounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: var(--fundo);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--cor-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 10px 30px;
    height: 45px;
}

header > img#logo {
    width: 120px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--cor-4);
    margin: 70px 0px 0px -10px;
    
}

nav#menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

nav#menu li{
    font-family: 'Rounded', Times, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 5px;
}

nav#menu img{
    width: 26px;
    margin: -6px;
    padding-bottom: -6px;
}

nav#menu a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--cor-4);
}

main{
    padding-top: 400px;
}

section#hambur {
    background-color: var(--cor-1);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
section#hambur > div#artham {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    grid-template-row: auto ;
    justify-content: start;
}
section > img{
    width: 200px;
    
}
h2{
    font-family: 'Rounded';
    padding-bottom: 20px;
}

section#hambur article{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    background-color: var(--cor-4);
    padding: 10px;
    border-radius: 5px;
}

section#hambur img {
    grid-column: 2/4;
    justify-self: end; 
    border-radius: 5px;
}

img {
    width: 200px;
    
}