@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-1:#DA1F26;
    --cor-2:#FBB131;
    --cor-3:#373435;
    --cor-4:#ffffff;
}
header{
    background-color: var(--cor-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 10px 30px;
    height: 55px;
}

header > img#logo {
    width: 120px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--cor-4);
    margin: 50px 0px 0px -10px;
    
}

nav#menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}
nav#menu img{
    width: 30px; 
}

nav#menu a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--cor-4);
}

main{
    padding-top: 400px;
}